name: Flutter Build

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Web
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'

      - name: Install dependencies
        run: flutter pub get

      - name: Build Web
        run: flutter build web --base-href /donow/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
          force_orphan: true
